/* ---------------- Header Top ---------------- */

.header-top,
.header-top-left,
.header-top-right,
.location-info,
.working-hours,
.email,
.phone-number {
    display: flex;
}

header {
    position: relative;
    height: 697px;
    background-image: url(/images/header/hero\ shape.png);
    background-repeat: no-repeat;
    background-position: left;
}

.header-top {
    height: 62px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #355EFC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
}

.location-info,
.working-hours,
.email,
.phone-number {
    gap: 10px;
    align-items: center;
}

.header-top-left {
    gap: 30px;
    margin-left: 72px;
}

.header-top-right {
    gap: 35.5px;
    margin-right: 72px;
}

/* -------------------------------------------- */
/* -------------- Navigation Bar -------------- */

nav, .main-menu, .nav-menu, .socials, .social {
    display: flex;
}

nav {
    color: #355EFC;
    margin-top: 29px;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    gap: 61px;
    margin-right: 72px;
}

.main-menu a {
    text-decoration: none;
    color: #355EFC;
}

.drop-down {
    border: none;
    background: none;
    color: #355EFC;
    font-size: 20px;
}

.logo {
    margin-left: 50px;
    width: 201px;
    height: 58px;
    background-image: url(/images/header/logo.png);
}

.nav-menu {
    font-size: 20px;
    font-weight: 700;
    list-style: none;
    gap: 15px;
    align-items: center;
}

.nav-menu > li {
    width: 74px;
}

.socials {
    gap: 10px;
}

.social {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #E4E8FD;
}
/* -------------------------------------------- */
/* ---------------- Hero-Header --------------- */

.hero-header-left {
    margin-left: 72px;
    margin-top: 97px;
    width: 20%;
    z-index: 1;
}

.welcome-button {
    width: 182px;
    height: 44px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: none;
    color: #355EFC;
    font-size: 16px;
    transition: 0.3s;
}

.hero-header-left > h1 {
    font-size: 100px;
    width: 820px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.explore-more-button {
    width: 157px;
    height: 44px;
    border-radius: 10px;
    background-color: #355EFC;
    border: none;
    font-size: 16px;
    color: #F5F5F5;
    transition: 0.3s;
}

.slider-buttons {
    position: absolute;
    top: 55%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-left-button {
    display: flex;
    width: 76px;
    height: 62px;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 50px 50px 0px;
    background-color: #CAD2FC;
    border: none;
    transition: 0.3s ease;
}

.slider-right-button {
    display: flex;
    width: 76px;
    height: 62px;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    background-color: #CAD2FC;
    border: none;
    transition: 0.3s ease;
}

.slider-images {
    width: 853px;
    height: 623px;
}

.hero-header {
    height: 78.5%;
    display: flex;
    justify-content: space-between;
}

.slide {
    position: absolute;
    width: 853px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: none;
}

.one {
    background-image: url(/images/header/slider-image-card.png);
}

.two {
    background-image: url(/images/header/slider-image-card-2.png);
}

.three {
    background-image: url(/images/header/slider-image-card-3.png);
}

.four {
    background-image: url(/images/header/slider-image-card-4.png);
}

.hero-header-slider {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}