.our-services {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-button {
    border-radius: 11px;
    border: 1px solid #CAD2FC;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
    width: 142px;
    padding: 10px 15px;
    background: none;
    color: #355EFC;
    transition: 0.3s ease;
}

.our-services h1 {
    color: #011A41;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    width: 542px;
    margin-top: 22px;
}

.our-container {
    margin-top: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    height: 386px;
    margin-left: 72px;
    margin-right: 72px;
}

.planning-button-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 355px;
    height: 100%;
    gap: 35px;
}

.planning-button {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    color: #011A41;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid #909DE2;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s ease;
}

.our-picture {
    background-image: url(/images/our-services/tab-image.png);
    width: 347px;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
}

.our-right {
    display: flex;
    width: 355px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
}

.our-right h2 {
    color: #011A41;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.our-right p {
    color: #555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}

.our-read-more-btn {
    border-radius: 10px;
    border: none;
    background: var(--main-color, #355EFC);
    padding: 10px 25px;
    color: #F5F5F5;
    font-weight: 700;
    transition: 0.3s ease;

}

.ticks {
    display: flex;
    width: 183px;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    justify-content: center;
}